<div class="container">
    <div class="row">
        <div class="col-xs-12">
          <h1>List a Dog for Adoption</h1>
          <p>Fill in the form below to list a dog for adoption</p>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-4">
          <%= render partial: "form" %>
        </div>
         <div class="col-md-offset-2 col-md-4">
         <p></p>
          <div class="thumbnail" style="margin-top: 26px;">
            <img src="https://image.ibb.co/eHGASR/undraw_girl_and_dog_yuhw.png" alt="...">
          </div>

         </div>
    </div>
</div>
