<p id="notice"><%= notice %></p>
<%= image_tag @carrierwave_image.asset.medium.url %>
<%= link_to 'Edit', edit_carrierwave_image_path(@carrierwave_image) %> |
<%= link_to 'Back', carrierwave_images_path %>
