

  <div class="jumbotron">

  <div class="container">
    <div class="row">
      <div class="col-xs-12">

      <h1 class="display-3">Welcome to Adop Shop</h1>
      <p class="lead">Helping you find your next furry friend</p>
      <hr class="my-4">
      <p>Explore our selection of dogs from around the world</p>
      <p class="lead">
        <%= link_to "View All Dogs", dogs_path, class: "btn btn-primary btn-lg", style: "color: white;"  %>
      </p>
    </div>


  </div>
 </div>
</div>




  <div class="container">
    <div class="row">
    </div>
    <div class="row">
      <div class="col-sm-6">
        <ul class="featured-list">
          <li class="m-b-lg">
            <div class="featured-list-icon text-primary">
              <i class="fa fa-heart" aria-hidden="true"></i>
            </div>
            <p class="featured-list-icon-text m-b-0"><strong> Cuteness Guaranty</strong></p>
            <p class="featured-list-icon-text">
              We promise all our dogs will exceed your cuteness expectations
            </p>
          </li>

          <li class="m-b-lg">
            <div class="featured-list-icon text-primary">
              <i class="fa fa-globe" aria-hidden="true"></i>
            </div>
            <p class="featured-list-icon-text m-b-0"><strong>Global Reach</strong></p>
            <p class="featured-list-icon-text">
              We explore the the whole world to find the best dogs for your home
            </p>
          </li>

        </ul>
      </div>
      <div class="col-sm-6">
        <ul class="featured-list">

          <li class="m-b-lg">
            <div class="featured-list-icon text-primary">
              <i class="fa fa-lock" aria-hidden="true"></i>
            </div>
            <p class="featured-list-icon-text m-b-0"><strong>Always Secure</strong></p>
            <p class="featured-list-icon-text">
              Only you will be able to see the dogs you are interested in and nobody else
            </p>
          </li>

          <li class="m-b-lg">
            <div class="featured-list-icon text-primary">
              <i class="fa  fa-bolt" aria-hidden="true"></i>
            </div>
            <p class="featured-list-icon-text m-b-0"><strong>Lightning Fast</strong></p>
            <p class="featured-list-icon-text">
              Place your order now and be playing fetch by the end of the week
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
